{% extends 'layout.html' %}


{% block content %}
<div class="container">
    <div class="columns is-centered is-multiline">
        {% for post in posts %}
        <div class="column is-4">
            <div class="box" style="min-height: 200px;">
                <div class="title has-text-centered">
                    {{ post.title }}
                </div>
                <div class="content has-text-grey-light">
                    {{ post.slice }}
                    <br>
                    <ion-icon name="eye"></ion-icon>
                    {{post.views.count}}
                </div>
                <a href="{% url 'app:post' post.slug %}" class="button is-fullwidth is-info is-outlined is-size-5">
                    Читать далее
                    &#8594
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if posts.has_other_pages %}
    <nav class="pagination is-centered">
        {% if posts.has_previous %}
        <a class="pagination-previous" href="?page={{posts.previous_page_number}}">
            Пред
        </a>
        <a class="pagination-link" href="?page=1">
            В начало
        </a>
        {% else %}
        <button class="pagination-previous" disabled>
            Пред
        </button>
        {% endif %}

        {% if posts.has_next %}
        <a class="pagination-next" href="?page={{ posts.next_page_number }}">
            Далее
        </a>
        <a href="?page={{ posts.paginator.num_pages }}" class="pagination-next">
            В конец
        </a>
        {% else %}
        <button class="pagination-next" disabled>
            Далее
        </button>
        {% endif %}

        <ul class="pagination-list">
            {% for page in posts.paginator.page_range %}
            <li>
                <a class="pagination-link 
                {% if page == posts.number %} is-current {% endif %}" href="?page={{page}}">{{ page }}</a>
            </li>
            {% endfor %}
        </ul>


    </nav>
    {% endif %}
</div>
{% endblock %}